node_modules
Packs
test.html
index.html
style.css
looper.js
todo.md
widehall.wav
kick.mp3
cowbell.wav
hatOpen.wav
snare.wav
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/wad.iml
.idea/workspace.xml
